*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
.mainContainer{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}